dataGen/BOSS_sten_data/
dataGen/BOSS1.01_Dataset/
dataGen/clean_images/
dataGen/rgb_covers_clean/
dataGen/rgb_covers_problematic/
Stegnography/.dct_spatial_cache/
Stegnography/.feature_cache/
Stegnography/.dct_BOSS_spatial_cache/
Stegnography/.dct_cache/
Stegnography/.dct_BOSS_RGB_combined_cache/
Stegnography/.dct_GAN_cache/
dataGen/BOSS_steganogan_data/
dataGen/.jpegio_cache/
dataGen/rgb_stego/
Stegnography/.dct_rgb_cache/
wandb/
Stegnography/wandb/